<p id="notice"><%= notice %></p>
<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan = 3> </th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category|%>
    <tr>
      <td><%= category.name %>(<%= category.post_count %>)</td>
      <td><%= link_to 'Show', category_path(category.id) %></td>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Destroy', category_path(category.id), method: :delete, data: { conform: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Category', new_category_path %><br>
<%= link_to 'New Post', new_post_path %>
<br><br>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
